@charset "UTF-8";
@font-face {
    font-family: 'primaryFont';
    src: url(../minhaFonte/minhafonte.ttf); 
}
@font-face {
    font-family: 'secondFont';
    src: url(../minhaFonte/NHLSJ___.TTF);
}
@font-face {
    font-family: 'katibeh';
    src: url(../minhaFonte/Katibeh-Regular.ttf);
}

:root {
    color: #EA3223;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    cursor: default;
    display: flex;
    flex-flow: row nowrap;
    justify-items: flex-start;
    align-items: flex-start;

    overflow-x: hidden;
    width: 100vw;
    background-color: #ec8181;
    
}

/* estilos do header */

header {
    width: 6vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    position: sticky;
    top: 0px;
    z-index: 999;
}
header ul {
    text-orientation: upright;
    writing-mode: vertical-lr;

    backdrop-filter: blur(5px);
    border: 5px solid blue;
    display: flex;
    justify-self: flex-end;
    align-self: flex-start;
    color: rgb(0, 0, 204);

    padding: 10px;
    
    }
header li {
    font-family: 'secondFont';
    font-size: 15px;
    list-style-type: none;
    margin-right: 20px;
    padding: 5px;
}
header li:hover {
    transform: translate(0, -1.5px);
    text-decoration: line-through;
    cursor: pointer;
}

/* estilo da main */

main {
    border: 5px solid blue;
    
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;

    width: 92vw ;
    height: 100%;
}
#myName {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    
    height: 90vh;
    width: 100%;
}

#myName h1 {
    width: fit-content;
    z-index: 2;
    padding: 10px;
    font-size: 6em;  
    text-shadow: 0px 0px 10px  blue;

    color: rgb(0, 0, 204);
    font-family: 'secondFont';
    text-align: center;
}
#myName #myIntro {
    position: relative;
    top: -100px;

    text-align: justify;
    font-family: 'kabiteh';
    font-weight: bold;

    padding: 10px;
    margin-right: 15px;
    width: 620.433px;
    color: rgb(0, 0, 204);
    border: 5px solid blue;
    z-index: 2;
}

/* estilo do circulo e minhas areas de atuacao */
#circulo {
    position: absolute;
    left: 110px;
    top: 240px;
    
    box-shadow: 0 0 20px rgb(0, 0, 255);
    z-index: 1;

    background-color: rgb(64, 0, 255);
    border: none;
    border-radius: 50%;
    
    width: 200px;
    height: 200px;
}
#circulo p {
    text-orientation: upright;
    writing-mode: vertical-lr;
    font-size: larger;
    font-family: 'secondFont';
    color: rgb(0, 0, 204);

    padding: 10px;
    border: 5px solid blue;

    position: absolute;
    left: 112px;
    top: -167px;

}

 /* stacks estilos */

#stacks {
    font-family: 'primaryFont';
    color: #EA3223;
    text-shadow: 1px 1px 1px 10px red;

    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#stacks ul, li img {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    

    margin:10px ;
    width: 60px;
    height: 60px;
    border-radius: 50%;  
}

#stacks li:hover {
    transform: translate(0, -3px);
}

/* Estilos de projetos */

#projectDiv {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  
  height: fit-content;
  margin-top: 30px;
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  
  position: relative;
  margin-top: 30px;
  height: 400px;
  width: 250px;
  z-index: 0;
}

.item::before {
  content: '';

  position: absolute;
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;

  border: 5px solid blue;
  background-color: #ea342300;
  z-index: -1;
}

.item img {
  margin: 0;
  width: 100%;
  height: 200px;
  background-size: cover;
}

.item p {
  color: blue;
  font-size: 14px;
  font-weight: bolder;
  text-align: justify;
  font-family: 'kabeteh';

  margin: 0;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.codeCheck {
    border: 5px solid blue;

    position: absolute;
    left: 170px;
    display: none;
    visibility: hidden;
    background-color: transparent;

    transition: transform .5s ease;
}

.codeCheck a {
  padding: 5px;
  text-orientation: upright;
  writing-mode: vertical-lr;
  text-decoration: none;
  font-family: 'secondFont';
}

.item:hover {
  box-shadow: 1px 1px 20px 0px blue
}

.item:hover>*:not(.codeCheck) {
  z-index: 0;
  filter: blur(3px);
  ;
}

.item:hover .codeCheck {
  z-index: 9;
  transform: translateY(-80%);
  display: block;
  visibility: visible;
}
                                    









