@charset "UTF-8";
@font-face {
    font-family: 'primaryFont';
    src: url(../minhaFonte/minhafonte.ttf); 
}
@font-face {
    font-family: 'secondFont';
    src: url(../minhaFonte/NHLSJ___.TTF);
}
@font-face {
    font-family: 'katibeh';
    src: url(../minhaFonte/Katibeh-Regular.ttf);
}

:root {
    color: #EA3223;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    cursor: default;
    display: flex;
    flex-flow: row nowrap;
    justify-items: flex-start;
    align-items: flex-start;

    overflow-x: hidden;
    width: 100vw;
    background-color: #f95653;
    
}

/* estilos do header */

header {
    width: 6vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    position: sticky;
    top: 0px;
    z-index: 999;
}
header ul {
    text-orientation: upright;
    writing-mode: vertical-lr;

    backdrop-filter: blur(5px);
    border: 5px solid blue;
    display: flex;
    justify-self: flex-end;
    align-self: flex-start;
    color: rgb(0, 0, 204);

    padding: 10px;
    
    }
header li {
    font-family: 'secondFont';
    font-size: 15px;
    list-style-type: none;
    margin-right: 20px;
    padding: 5px;
}
header li:hover {
    transform: translate(0, -1.5px);
    text-decoration: line-through;
    cursor: pointer;
}

/* estilo da main */

main {
    border: 5px solid blue;
    
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;

    width: 92vw ;
    height: 100%;
}
#myName {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    
    height: 90vh;
    width: 100%;
}

#myName h1 {
    width: fit-content;
    z-index: 2;
    padding: 10px;
    font-size: 6em;  
    text-shadow: 0px 0px 10px  blue;

    color: rgb(0, 0, 204);
    font-family: 'secondFont';
    text-align: center;
}
#myName #myIntro {
    position: relative;
    top: -100px;

    text-align: justify;
    font-family: 'kabiteh';
    font-weight: bold;

    padding: 10px;
    margin-right: 15px;
    width: 620.433px;
    color: rgb(0, 0, 204);
    border: 5px solid blue;
    z-index: 2;
}

/* estilo do circulo e minhas areas de atuacao */
#circulo {
    box-shadow: 0 0 20px rgb(0, 0, 255);
    z-index: 1;
    position: absolute;
    left: 50px;
    top: 240px;

    background-color: rgb(64, 0, 255);
    border: none;
    border-radius: 50%;
    
    width: 200px;
    height: 200px;
}
#circulo p {
    text-orientation: upright;
    writing-mode: vertical-lr;
    font-size: larger;
    font-family: 'secondFont';
    color: rgb(0, 0, 204);

    padding: 10px;
    border: 5px solid blue;

    position: absolute;
    left: 112px;
    top: -167px;

}

 /* stacks estilos */

#stacks {
    font-family: 'primaryFont';
    color: #EA3223;
    text-shadow: 1px 1px 1px 10px red;

    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#stacks ul, li img {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;

    margin:10px ;
    width: 60px;
    height: 60px;
    border-radius: 50%;  
}

#stacks li:hover {
    transform: translate(0, -3px);
}

/* Estilos de projetos */

#projectDiv {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;

    margin-top: 30px;
    width: 100%;
    height: fit-content;
}

.item {
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 400px;
    width: 250px;
    border: 5px solid blue;

    background-color: #ea342300;
}

.item img {
    margin: 0;
    width: 100%;
    height: 200px;
    background-size: cover;
}

.item p {
    color: blue;
    font-size: 14px;
    font-family: 'kabeteh';
    font-weight: bolder;

    margin: 0;
    padding: 10px;
    text-align: justify;

    display: flex;
    flex-direction: column;
    justify-content: center;

}
.codeCheck {
    font-family: 'secondFont';
    text-orientation: upright;
    writing-mode: vertical-lr;

    position: relative;
    left: 70px;
}

.item:hover {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    box-shadow: 1px 1px 20px 0px blue;
    
}

.item:hover p {
    
}

.item:hover img {
    
}

                                            /* estilo de contato */

#contato {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    height: 500px;
    width: 100vw;
    font-family: 'primaryFont';
}
#contato h1 {
    font-size: 3em;
    position: relative;
    left: 130px;

    display: flex;
    justify-content: flex-start;
}
#contato a img {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    border-color: black;
}

#contatoInfo{
    margin-top: 30px;
    display: flex;
    flex-direction: wrap;
    align-items: center;
    justify-content: center;
}
#contatoInfo a {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border-color: black;
    display: flex;
    justify-content: center;
    margin-left: 20px;
}
#contato a img:hover {
    transform: translate(-3%, -4%);
}









